// Buttons
// ==========================================================================

.btn {
	text-align: center;
	line-height: 30px;
	padding: 0 20px;
	transition: .3s ease-out;
	font-weight: 300;
}
.content-fixed-buttons {
	position: fixed;
	bottom: 5px;
	text-align: center;
	width: 100%;
	.btn { margin: 3px 5px;}
}
.btn-fixed {
	background-color: $purple-color;
	color: $light-color;
	border-radius: 3px;
	position: fixed;
	bottom: 10px;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
	-o-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%)
}
.btn-primary-rounded {
	background-color: $purple-color;
	color: $light-color;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	&:hover {
		opacity: 0.8;
	}
}
button { outline: none; }
.btn-primaryQO {
	border: 2px solid $purple-color;
	background-color: transparent;
	padding: 0px 10px;
	margin: 0 2px 5px;
	line-height: 25px;
	font-size: 14px;
	display: inline-block;
	border-radius: 15px;
	transition: .3s ease-out; 
	cursor: pointer;
	&.btn-estatus, &.btn-prioridad { line-height: 20px; }
	&.btn-area { border-color: #b21180; }
	&.btn-estatus { border-color: #2174b9; }
	&.btn-prioridad { border-color: #614893; }
	&:hover {
		background-color: $purple-color;
		color: $light-color;
		opacity: 0.8;
		&.btn-area { background-color: #b21180; }
		&.btn-estatus { background-color: #2174b9; }
		&.btn-prioridad { background-color: #614893; }
	}
	&:active,
	&.is-checked {
		background-color: $purple-color;
		color: $light-color;
		&.btn-area { background-color: #b21180; }
		&.btn-estatus { background-color: #2174b9; }
		&.btn-prioridad { background-color: #614893; }
	}
}
.btn-purple {
	background-color: $purple-color;
	color: $light-color;
	border-radius: 3px;
	line-height: 35px;
	display: inline-block;
}

.card-cotizacion,
.content-cotizacion {
	.status {
		background: linear-gradient(to right, #4a72b2, #70a9ba, #581e7f, #ba007c);
		color: #fff;
		width: 30px;
		height: 30px;
		position: absolute;
		top: 0px;
		right: 10px;
		text-align: center;
		line-height: 30px;
		border-radius: 50%;
		.etiqueta-text {
			color: #000;
			z-index: 9;
			right: 20px;
		}
		&:hover .etiqueta-text { display: inline-block; }
	}
}
.content-cotizacion {
	.status {
		width: 40px;
	    height: 40px;
	    line-height: 40px;
	    top: -10px;
	    right: -10px;
	}
}