// Buttons
// ==========================================================================

.btn {
	text-align: center;
	line-height: 30px;
	padding: 0 20px;
	transition: .3s ease-out;
}
.btn-primary-rounded {
	background-color: $purple-color;
	color: $light-color;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	&:hover {
		opacity: 0.8;
	}
}
button { outline: none; }
.btn-primaryQO {
	border: 2px solid $purple-color;
	background-color: transparent;
	padding: 0px 10px;
	margin: 0 5px 2px;
	line-height: 25px;
	font-size: 14px;
	display: inline-block;
	border-radius: 15px;
	transition: .3s ease-out; 
	cursor: pointer;
	&:hover {
		background-color: $purple-color;
		color: $light-color;
		opacity: 0.8;
	}
	&:active,
	&.is-checked {
		background-color: $purple-color;
		color: $light-color;
	}
}

.buttons-sistema {
	ul {
		text-align: center;
		margin-top: 0px;
		margin-bottom: 10px;
		li {
			border: 2px solid $purple-color;
			padding: 0px 10px;
			margin: 0 5px 2px;
			line-height: 25px;
			font-size: 14px;
			display: inline-block;
			border-radius: 15px;
			transition: .3s ease-out; 
			cursor: pointer;
			@media #{$sm-and-down} {
				display: block;
			}
			&:hover {
				background-color: $purple-color;
				a { color: $light-color; }				
			}
		}
	}
	&.buttons-requerimiento {
		li {
			border-color: #b21180;
			&:hover { 
				background-color: #b21180; 
				a { color: $light-color; }
			} 
		}
	}
	&.buttons-estatus {
		li {
			border-color: #2174b9;
			line-height: 20px;
			font-size: 12px;
			&:hover { background-color: #2174b9; } 
		}
	}
	&.buttons-prioridad {		
		.btn-baja 		{ 
			border-color: $baja-color; 
			&:hover { background-color: $baja-color; }
		}
		.btn-media 		{ 
			border-color: $media-color; 
			&:hover { background-color: $media-color; }
		}
		.btn-alta 		{ 
			border-color: $alta-color; 
			&:hover { background-color: $alta-color; }
		}
		.btn-urgente 	{ 
			border-color: $urgente-color; 
			&:hover { background-color: $urgente-color; }
		}
		li { 
			line-height: 20px;
			font-size: 12px;
			&:hover { color: #fff; } 
		}
	}
}

.card-cotizacion {
	.status {
		background: linear-gradient(to right, #4a72b2, #70a9ba, #581e7f, #ba007c);
		color: #fff;
		width: 30px;
		height: 30px;
		position: absolute;
		top: 0px;
		right: 10px;
		text-align: center;
		line-height: 30px;
		border-radius: 50%;
		.etiqueta-text {
			color: #000;
			z-index: 9;
			right: 20px;
		}
		&:hover .etiqueta-text { display: inline-block; }
	}
}