// Color
// ==========================================================================

.color-primary 			{ color: $primary-color; }
.color-purple 			{ color: $purple-color; }

.color-light 			{ color: $light-color; }
.color-dark 			{ color: $dark-color; }


// Bg Color
// ==========================================================================

