// Color
// ==========================================================================

.color-primary 			{ color: $primary-color; }
.color-purple 			{ color: $purple-color; }

.color-light 			{ color: $light-color; }
.color-dark 			{ color: $dark-color; }


// Bg Color
// ==========================================================================

.bg-gradient-qo 		{ background: linear-gradient(to right, rgb(74,114,178), rgb(112,169,186), rgb(88,30,127), rgb(186,0,124)); }
.bg-light 				{ background-color: $light-color; }