footer {
	position: relative;
	padding: 20px 0 70px;
	color: $light-color;
	font-family: $font-titles;
	text-align: center;
	strong { letter-spacing: 0.5px; }
	a { 
		font-family: $font-default;
		color: #cac5c5;
		&:hover { text-decoration: underline; }
	}
	.bg-logo-light {
		margin: 0 auto 20px;
		width: 100px;
		height: 40px;
	}
	.redes {
		.bg-image {
			display: inline-block;
			width: 40px;
			height: 40px;
			margin: 0 15px;
		}
	}
}