footer {
	position: relative;
	padding: 20px 0 70px;
	color: $light-color;
	font-family: $font-titles;
	text-align: center;
	strong { letter-spacing: 0.5px; }
	a { 
		font-family: $font-default;
		color: #cac5c5;
		&:hover { text-decoration: underline; }
	}
	.bg-logo-light {
		margin: 0 auto 20px;
		width: 100px;
		height: 40px;
	}
	.redes {
		a {
			display: inline-block;
			vertical-align: middle;
			margin: 0 10px;
			@media #{$small-and-down} 	{  margin: 0 5px; }
			i {
				color: $light-color;
				font-size: 25px;
				text-shadow: 5px 3px #585858;
				&.icon-youtube-play { font-size: 30px; }				
			}
		}
	}
}