.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
  &.container-large {
    width: calc(100% - 80px);
    max-width: 1600px;
  }
}
@media #{$medium-and-up} {
  .container {
    width: 85%;
  }
}
@media #{$large-and-up} {
  .container {
    width: 70%;
  }
}


// Mixins to eliminate code repitition
@mixin reset-offset {
  margin-left: auto;
  left: auto;
  right: auto;
}
@mixin grid-classes($size, $i, $perc) {
  &.offset-#{$size}#{$i} {
    margin-left: $perc;
  }
  &.pull-#{$size}#{$i} {
    right: $perc;
  }
  &.push-#{$size}#{$i} {
    left: $perc;
  }
}


.row {
  margin-left: auto;
  margin-right: auto;

  // Clear floating children
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .col {
    float: left;
    box-sizing: border-box;
    padding: 0 $gutter-width / 2;
    min-height: 1px;

    &[class*="push-"],
    &[class*="pull-"] {
      position: relative;
    }

    $i: 1;
    @while $i <= $num-cols {
      $perc: unquote((100 / ($num-cols / $i)) + "%");
      &.s#{$i} {
        width: $perc;
        @include reset-offset;
      }
      $i: $i + 1;
    }

    $i: 1;
    @while $i <= $num-cols {
      $perc: unquote((100 / ($num-cols / $i)) + "%");
      @include grid-classes("s", $i, $perc);
      $i: $i + 1;
    }

    @media #{$sm-and-up} {

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.sm#{$i} {
          width: $perc;
          @include reset-offset;
        }
        $i: $i + 1
      }

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        @include grid-classes("sm", $i, $perc);
        $i: $i + 1;
      }
    }

    @media #{$medium-and-up} {

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.m#{$i} {
          width: $perc;
          @include reset-offset;
        }
        $i: $i + 1
      }

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        @include grid-classes("m", $i, $perc);
        $i: $i + 1;
      }
    }

    @media #{$large-and-up} {

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.l#{$i} {
          width: $perc;
          @include reset-offset;
        }
        $i: $i + 1;
      }

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        @include grid-classes("l", $i, $perc);
        $i: $i + 1;
      }
    }

    @media #{$extra-large-and-up} {

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.xl#{$i} {
          width: $perc;
          @include reset-offset;
        }
        $i: $i + 1;
      }

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        @include grid-classes("xl", $i, $perc);
        $i: $i + 1;
      }
    }
  }
}

.table-clients {
  .col-number           { width: 10px ; }    
  .col-title            { width: calc(11% - 10px); }    
  .col-razon_social     { width: 12% ; }    
  .col-rfc              { width: 7% ; }
  .col-direction        { width: 15% ; }   
  .col-proyectos        { width: 6% ; }   
  .col-actividad        { width: 9% ; } 
  .col-contactComercial { width: 9% ; }
  .col-telefono         { width: 7% ; }
  .col-email            { width: 13% ; }
  .col-cumpleanos       { width: 10% ; }

  @media #{$sm-and-down} {
    .col-number           { width: 10px; }    
    .col-title            { width: calc(100% - 25px);; }    
    .col-razon_social, 
    .col-rfc, 
    .col-direction, 
    .col-proyectos, 
    .col-actividad,
    .col-contactComercial, 
    .col-telefono,
    .col-email,
    .col-cumpleanos { 
      width: 100%;
      padding-top: 2px!important;
      padding-bottom: 2px!important;
      p {
        margin-right: 5px;
        &:before {
          content: '';
          width: 3px;
          height: 3px;
          background-color: $purple-color;
          display: inline-block;
          margin-right: 3px;
          margin-bottom: 3px;
        }
      }
    }
  }
}
.table-proveedores {
  .col-number           { width: 10px ; }
  .col-razon_social     { width: 12% ; }    
  .col-ruc              { width: 5% ; }
  .col-direction        { width: 15% ; }   
  .col-prod_serv{ width: 9% ; }   
  .col-actividad        { width: 11% ; } 
  .col-contactComercial { width: 10% ; }
  .col-telefono         { width: 9% ; }
  .col-email            { width: 17% ; }
  .col-fecha_ingreso    { width: 10% ; }

  @media #{$sm-and-down} {
    .col-number           { width: 10px; }    
    .col-razon_social     { width: calc(100% - 25px);; }    
    .col-ruc, 
    .col-direction, 
    .col-prod_serv, 
    .col-actividad,
    .col-contactComercial, 
    .col-telefono,
    .col-email,
    .col-fecha_ingreso { 
      width: 100%;
      padding-top: 2px!important;
      padding-bottom: 2px!important;
      p {
        margin-right: 5px;
        &:before {
          content: '';
          width: 3px;
          height: 3px;
          background-color: $purple-color;
          display: inline-block;
          margin-right: 3px;
          margin-bottom: 3px;
        }
      }
    }
  }
}

.content-cotizacion {
  //width: 595px;
  width: 612px;
  //height: 842px;
  height: 792px;
  padding-top: 35px;
  padding-bottom: 35px;
  margin: 30 auto;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
              0 3px 1px -2px rgba(0,0,0,0.12),
              0 1px 5px 0 rgba(0,0,0,0.2);
}

//COTIZACIÓN
.col-1_5 {
  width: 20%;
}