header.js-header {
	@media #{$medium-and-up} {
		position: fixed;
		width: 45px;
		min-height: 100vh;
		z-index: 200;
		animation: animatedNav 1.5s linear; 
		-ms-animation: animatedNav 1.5s linear;
		-moz-animation: animatedNav 1.5s linear;
		-webkit-animation: animatedNav 1.5s linear;		
		ul {
			position: absolute;
			top: calc(50% - 155px); //Height ul
			margin-top: 0px;
			margin-bottom: 0px;
			opacity: 0.75;
			transition: .4s ease-out;
			&:hover { 
				opacity: 1;
				div {
					box-shadow: 0 3px 10px 0 rgba(255,255,255,0.20);
				}
			} 
			li {
				display: block;
				position: relative;
				a {
					display: block;
					padding: 20px 20px 20px 30px;
					div {
						position: relative;
						display: inline-block;
						width: 15px;
						height: 15px;
						background-color: #484848;
						border-radius: 50%;
						box-shadow: 0 3px 10px 0 rgba(255,255,255,0.30);
						z-index: 1;
						transition: .3s ease-out;
						&:before, &:after{
							content: '';
							display: block;
							left: 5px;
							position: relative;
							width: 5px;
							height: 5px;
							background-color: #484848;
							border-radius: 50%;
							box-shadow: 0 3px 10px 0 rgba(255,255,255,0.30);
						}
						&:before { 
							top: -18px;
						}
						&:after {
							bottom: -21px;
						}
						@media #{$sm-and-down} { 
						  display: none;
						}
					}
					span {
						position: absolute;
						top: 8px;
						left: 30px;
						padding: 10px 10px 10px 15px;
						font-size: 20px;
						color: #565656;
    					background-color: rgba(236, 234, 234, 0.5);
    					box-shadow: 0 3px 10px 0 rgba(0,0,0,0.25);
						transition: .2s ease-in;
						opacity: 0;
					}
					&:hover {
						div {
							border-radius: 0px;
							transform:rotate(45deg);			
							&:before, &:after {
								display: none;
							}
						}
						span {
							left: 38px;
							
							opacity: 1;
						}
					}
				}
			}
			&.nav-clare {
				div, div:before, div:after {
					background-color: #ffffff;
				}
			}		
		}
	}
	@media #{$sm-and-down} {
		position: fixed;
		bottom: -300px;
	    min-width: 100vw;
	    padding-top: 20px;
	    padding-bottom: 20px;
	    background-color: $light-color;
	    box-shadow: 3px 1px 20px 0 rgba(0,0,0,0.25);
	    z-index: 201;	    
	    transition: .6s ease-out;
	    &.active {
	    	bottom: 0px;
	    }
	    .icon-cancel {
	    	position: absolute;
		    bottom: 25px;
		    right: 30px;
		    font-size: 25px;
	    }
	    ul {
	    	margin: 0px;
	    	li {
	    		a {
	    			display: block;
	    			padding: 0 20px;
	    			font-size: 16px;
	    			line-height: 40px;
	    			&:hover {
	    				background-color: $purple-color;
	    				color: $light-color;
	    			}
	    		}
	    	}
	    }
	    
	}
	&.header-cotizacion {
		margin-bottom: 15px;
	}
}
@media #{$medium-and-up} {
	.page-home .icon-cancel, .page-home .icon-menu { display: none!important; }
}
.page-home .icon-menu {
	position: fixed;
	bottom: 20px;
    right: 20px;
    font-size: 30px;
    text-shadow: 1px 1px #b7b7b7;
	z-index: 200;
}


#section-initial {
	@media #{$small-and-down} {
		#header-logo-qo.bg-image { height: 90px }
	}
	@media #{$sm-and-down} {
		.container {
			padding: 30px 0;
			#header-logo-qo.bg-image {
				margin: auto;
				height: 120px;
				max-width: 90%;
			}			
		}
	}
	@media #{$medium-and-up} { 
		.container {
			min-height: 100vh;
			#header-logo-qo.bg-image {
				margin: 0px;
				@include center-full(); 
			}	
		}		
	}
}

.archive-header {
	margin-bottom: 20px;
	padding-top: 20px;	
	text-align: center;
	.title-archive {
		//padding-left: 120px;
	    font-size: 40px;
	    line-height: 60px;
	    font-weight: 600;
	    color: $purple-color;
	    @media #{$small-and-down} {
	      font-size: 22px;
	      line-height: 26px;
	    }		
	}
	.btn-nav {
		position: absolute;
		top: 20px;
		font-size: 20px;
		cursor: pointer;
	}
	nav {
		position: absolute;
		top: 0px;
		left: -260px;
		padding: 20px 0px;
		width: 250px;
		min-height: 100vh;		
		text-align: left;
		background-color: $light-color;
		z-index: 99;
		transition: .3s ease-out;
		@media #{$small-and-down} {
	      width: 100%;
	      left: -100%;
	    }
	    .icon-cancel {			
			position: absolute;
			right: 20px;
			font-size: 20px;
			cursor: pointer;
	    }
		ul {
			margin: 30px 0px 0px;
			li {
				display: block;				
				a {
					display: block;
					padding: 0 20px;
					font-size: 16px;
					line-height: 40px;					
					transition: .1s ease-out;
					&:hover {
						background-color: $purple-color;
						color: $light-color;
					}				
				}
			}
		}
		&.active { left: 0px;}
	}
}