header {
	ul {
		li {
			display: inline-block;
			a {
				
			}
		}		
	}
	&.archive-header {
		padding-top: 20px;
		padding-bottom: 20px;
		margin-bottom: 20px;
		@media #{$sm-and-down} {
			padding-bottom: 0px;
		}
	}
}