// Image
// ==========================================================================

img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}

.centerfull-image {
	position: absolute;
	top: 0px; bottom: 0px;
	left: 0px; right: 0px;
	margin: auto;
}


// Bg Image
// ==========================================================================
.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &.bg-contain { background-size: contain; }
  &.bg-repeat { background-repeat: repeat; }
}

.bg-responsive {
	max-width: 100%;
}

.bg-absolute { 
	position: absolute;
	top: 0; 
	bottom: 0; 
	right: 0; 
	left: 0; 
}

.bg-logo {
	max-width: 100%;
	width: 500px;
	height: 180px;

}
.bg-logo-secondary {
    position: fixed;
    top: -50px;
    left: 50%;	
	width: 65px;
    height: 35px;
    opacity: 0;
    z-index: 200;
	transition: .1s ease-out;
	&.logo-fixed {
	    position: fixed;
	    top: 30px;
	    left: 5px;
	    opacity: 1;
	}	
}
.bg-qo-logo {
	width: 100%;
	height: 60px;
	max-width: 110px;	
	@media #{$sm-and-down} {
		max-width: 70px;
		height: 50px;
	}
}

//Nosotros
.bg-icon-nosotros {
	width: 70px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
}
.bg-puntos {
	position: absolute;
	width: 100%;
	height: 230px;	
	z-index: -1;
}
.bg-line-dotted {
	position: absolute;
    top: 15px;
    right: -65px;
    width: 70px;
    height: 10px;
    &:nth-child(3n) { display: none; }
   	@media #{$sm-and-down} { 
		position: relative;
		top: inherit;
		right: inherit;
		margin: 30px auto;
	}
}
.bg-textura {
	bottom: -500px;
	background-size: auto;
	background-position: 0px 0px;
	background-repeat: repeat-x;
	animation: animatedBackground 40s linear infinite;
	-ms-animation: animatedBackground 40s linear infinite;
	-moz-animation: animatedBackground 40s linear infinite;
	-webkit-animation: animatedBackground 40s linear infinite;
}

//Bg colores qo
.bg-colores-qo {
	background-position-y: 0;
	top: -155px;	
	@media #{$medium-and-down} 	{  top: -100px; }
	@media #{$sm-and-down} 		{  top: -120px; }
	@media #{$small-and-down} 	{  top: -80px; }
}

//Section clientes
#section-clientes {
	@media #{$medium-and-up} { 
		padding-top: 10px;
	}
	@media #{$large-and-up} { 
		padding-top: 0px;
	}
	@media #{$extra-large-and-up} { 
		padding-top: 90px;
	}
	.bg-image {
		display: inline-block;
		width: 100px;
		height: 25px;
		max-width: 100%;
		margin-bottom: 25px;
		padding: 0 0.75rem;
    	box-sizing: border-box;
	}
}

//Sistema

.content-cotizacion {
	.img-qo-logo { width: 200px; }
	.img-client {
		display: block;
		margin-bottom: 20px;
		max-width: 200px;
		max-height: 100px;		
	}
	.footer-cotizacion {
		.bg-qo-logo {
			width: 50px;
			height: 30px;
			margin: 0 auto 10px;
			padding-bottom: 0px;			
		}
	}
}

.content-muestra,
.content-img-muestra,
.content-img-Horizontal,
.content-img-Vertical {
	img {
		display: inline-block;
		padding: 0 5px;
		vertical-align: middle;
		box-sizing: border-box;	
	}	
	img:first-child:nth-last-child(1){
		max-width: 100%;
		padding: 0px;
	}
	img:first-child:nth-last-child(2),
	img:first-child:nth-last-child(2) ~ img {
	    max-width: calc(50% - 10px);
	}
	img:nth-last-child(3),
	img:nth-last-child(3) ~ img {
	    max-width: calc(33.33% - 10px);
	}
	img:first-child:nth-last-child(4),
	img:first-child:nth-last-child(4) ~ img {
	    max-width: calc(25% - 10px);
	}
}

.content-img-Vertical {
	img:first-child:nth-last-child(2),
	img:first-child:nth-last-child(2) ~ img {
	    max-width: 100%;
	    max-height: 190px;
		padding: 0px;		
	}
	img:nth-last-child(3),
	img:nth-last-child(3) ~ img,
	img:first-child:nth-last-child(4),
	img:first-child:nth-last-child(4) ~ img {
	    max-width: calc(50% - 10px);	    
		max-height: 190px;
	}
}

// Slider 
#slider-servicios {
	div.cycle-slide:not(.bg-arrow) {
		width: 100%;
		.content-card {
			position: relative;
			margin: auto;
			max-width: 500px;
			width: 80%;
			text-align: center;
			border-top-left-radius: 50%;
			border-top-right-radius: 50%;
			box-shadow: 5px 15px 6px 1px rgba(0, 0, 0, 0.14), -5px 15px 6px 1px rgba(0, 0, 0, 0.14);
			@media #{$small-and-down} { 
				width: 100%;
			}
			.content-card-image {
				position: relative;
				.fondo-bg-image {
					position: absolute;
				    bottom: 0px;
				    width: 100%;
				    padding-bottom: calc(50%);
				    background-color: $light-color;
				}
				.bg-image {
					position: relative;
					width: 100%;
					padding-bottom: calc(100% - 120px);
					background-color: $light-color;
					border-radius: 50%;
					border: 60px solid #fff;
					box-shadow: 0px -2px 7px 0px rgba(0, 0, 0, 0.14);
					@media #{$sm-and-down} { 
						padding-bottom: calc(100% - 40px);
						border-width: 20px;
					}
				}				
			}
			.content-card-body {
				position: relative;
				margin-top: -40px;
				padding: 0 20% 190px 20%;
				background-color: $light-color;
				@media #{$medium-and-down} 	{  padding-bottom: 140px; }
				@media #{$sm-and-down} 		{  
					margin-top: 0px;
					padding-left: 20px;
					padding-right: 20px;
					padding-bottom: 160px;
				}
				@media #{$small-and-down} 	{  padding-bottom: 180px; }
				.hr {
					margin: 10px auto 10px auto;
					height: 5px;
				}
				p {
					@media #{$medium-and-up} { 
					  padding: 0 10px;
					}				
					min-height: 100px;	
					text-align: left;					
				}
			}	
		}
	}
	
}
.bg-arrow {
	display: block;
	position: absolute;
	top: 35%;	
	width: 50px;
	height: 50px;
	cursor: pointer;
	z-index: 100;
	
	@media #{$small-and-down} { 
		display: none;
	}
	&#prev-service {
		left: 5%;
		@media #{$medium-and-down} { left: -10px; }
	}
	&#next-service {
		right: 5%;
		@media #{$medium-and-down} { right: -10px; }
	}
}
.services-pager {
	position: absolute;
    width: 100%;
    bottom: 100px;
	text-align: center;
	z-index: 101;
	@media #{$medium-and-down} 	{  bottom: 50px; }
	@media #{$sm-and-down} 		{  bottom: 70px; }
	@media #{$small-and-down} 	{  bottom: 70px; }
	span {
		padding: 0 7px;
		font-size: 55px;
		line-height: 20px;
		color: #c4c4c4;
		cursor: pointer;
		@media #{$small-and-down} { 
			font-size: 90px;
			padding: 0 3px;
		}
		&.cycle-pager-active {
			color: #6e6e6e;
		}
	}
}