// Image
// ==========================================================================

img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}

.centerfull-image {
	position: absolute;
	top: 0px; bottom: 0px;
	left: 0px; right: 0px;
	margin: auto;
}


// Bg Image
// ==========================================================================
.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &.bg-contain { background-size: contain; }
  &.bg-repeat { background-repeat: repeat; }
}

.bg-responsive {
	max-width: 100%;
}

.bg-absolute { 
	position: absolute;
	top: 0; 
	bottom: 0; 
	right: 0; 
	left: 0; 
}


.bg-qo-logo {
	width: 100%;
	max-width: 110px;
	height: 60px;
	@media #{$sm-and-down} {
		max-width: 70px;
		height: 50px;
	}
}

.content-cotizacion {
	.img-qo-logo { width: 200px; }
	.img-client { 
		max-width: 100px;
		max-height: 100px;
		display: block;
		margin: 0 auto 20px;
	}
	.footer-cotizacion {
		.bg-qo-logo {
			width: 50px;
			height: 30px;
			padding-bottom: 0px;
			margin: 0 auto 10px;
		}
	}
}

.content-muestra,
.content-img-muestra,
.content-img-Horizontal,
.content-img-Vertical {
	img {
		padding: 0 5px;
		box-sizing: border-box;
		display: inline-block;
		vertical-align: middle;
	}	
	img:first-child:nth-last-child(1){
		max-width: 100%;
		padding: 0px;
	}
	img:first-child:nth-last-child(2),
	img:first-child:nth-last-child(2) ~ img {
	    max-width: calc(50% - 10px);
	}
	img:nth-last-child(3),
	img:nth-last-child(3) ~ img {
	    max-width: calc(33.33% - 10px);
	}
	img:first-child:nth-last-child(4),
	img:first-child:nth-last-child(4) ~ img {
	    max-width: calc(25% - 10px);
	}
}

.content-img-Vertical {
	img:first-child:nth-last-child(2),
	img:first-child:nth-last-child(2) ~ img {
	    max-width: 100%;
		padding: 0px;
		max-height: 190px;
	}
	img:nth-last-child(3),
	img:nth-last-child(3) ~ img,
	img:first-child:nth-last-child(4),
	img:first-child:nth-last-child(4) ~ img {
	    max-width: calc(50% - 10px);	    
		max-height: 190px;
	}
}