.modal {
	display: none;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 1200;
	transition: .5s ease-out;
	.fondo-modal {
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		background-color: rgba(70, 64, 64, 0.62);
	}
	.modal-content {
		position: relative;
		width: 80vw;
		max-width: 370px;
		margin: 10vh auto 0;		
		background-color: $light-color;
		border-radius: 20px;
		&.modal-content-medium { max-width: 620px; }
		@media #{$sm-and-down}{
			width: 100vw;
			height: 100vh;
			margin: 0 auto 0;
			border-radius: 0px;
		}
		.close-modal, .close-notice {
			position: absolute;
			right: 10px;
			top: 10px;
			width: 40px;
			color: $purple-color;
			text-align: center;
			font-size: 22px;
			font-weight: 600;
			line-height: 40px;
			z-index: 2;
			cursor: pointer;
			&:hover { color: $purple-color; }
		}
		.modal-body {
			padding: 50px 30px 30px;
			border-bottom: 30px solid #fff;
    		border-radius: 20px;
			overflow-y: auto;
		    overflow-x: hidden;
		    @media #{$medium-and-up} {
				max-height: 80vh;
		    }
		}
	}
}
.open-modal { cursor: pointer; }

/* Proyectos Morphing Modal */
/* Morphing Button */
.morph-button {
	position: relative;
	display: block;
	margin: 0;
	& > button {
		position: relative;
		padding: 0;
		border: none;
		cursor: pointer;
		z-index: 1000;
		width: 100%;
		height: 100%;
		-webkit-transition: opacity 0.1s 0.5s;
		transition: opacity 0.1s 0.5s;
		img { @extend .responsive-img; }
		div {    
		    position: absolute;
		    top: 0px;
			width: 100%;
		}
		&.size_corta { padding-bottom: 50%; }
		&.size_larga { padding-bottom: 135%; }
	}
	.morph-content {
		position: fixed;
		z-index: 900;
		opacity: 0;
		background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
		-webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
		transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
		& > div {
			visibility: hidden;
			height: 0;
			opacity: 0;
			-webkit-transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
			transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
			/* Custom styles projects */
			.projectHeader {
				position: relative;
				width: 100%;
				z-index: 1;
				color: #e2e2e2;
				padding: 20px 30px 0;
				text-shadow: 1px 1px 3px #9e9e9e40;
				@media #{$sm-and-down} { padding: 10px 20px 0; }
				span {
					position: absolute;
					right: 20px;
					top: 20px;
					width: 35px;
					height: 35px;
					text-align: center;
					line-height: 31px;
					border: 2px solid #e2e2e2;
					border-radius: 50%;
					cursor: pointer;
					box-shadow: 0 3px 10px 0 rgba(158, 158, 158, 0.25);
				    @media #{$sm-and-down} { 
						right: 10px;
						top: 10px;
						width: 30px;
						height: 30px;
						line-height: 26px;
				    }
					&:hover{ box-shadow: 0 3px 10px 0 rgba(158, 158, 158, 0.5); }
				}		
				div {
				    font-family: "PT Sans", sans-serif;
				    font-size: 22px;
				    font-weight: 700;
				    text-transform: uppercase;
				    @media #{$sm-and-down} { font-size: 14px; }
				}	
			}
			.projectContent {
				.cycle-slideshow {
					.cycle-slide {
						width: 1px!important;
						height: calc(100vh - 130px);
						text-align: center;
						video {
							display: block;
							max-width: 1050px;
							margin: auto;
							@extend .content-center;
						}
						img {
							max-height: 85vh;
							@extend %center-full;
						}					
					}	
				}
				.prev-itemProject,
				.next-itemProject {
					display: block!important;
					width: 55px!important;
				}
				.next-itemProject {
					right: 0px;
				}				
			}
			.projectPager {
				position: absolute;
			    bottom: 0px;
			    width: 100%;
			    text-align: center;
			    cursor: pointer;
			    span {
				    margin: 0 10px;
				    color: #a9a9a9;
			    	font-size: 60px;
				    line-height: 22px;
				    &.cycle-pager-active { color: $light-color; }
			    }
			}
			@media #{$sm-and-down} {
				.projectHeader {
					position: absolute;
				}
				.projectContent {
					top: 0px;
    				transform: translateX(-50%);
    				.cycle-slideshow .cycle-slide {
    					height: 100vh;
    				}
				}
				.projectPager { display: none; }
			}
		}
	}
	&.open {
		& > button {
			opacity: 0.7;
			-webkit-transition: opacity 0.1s;
			transition: opacity 0.1s;
		}
		.morph-content {
			opacity: 1;
			top: 0vh !important;
			left: 0vw !important;
			width: 100vw!important;
			height: 100vh!important;
			background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
			-webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s, opacity 0.1s;
			transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s, opacity 0.1s;
			@media #{$sm-and-down} {
				top: 0px !important;
				left: 0px !important;
				margin: 0;
				width: 100vw!important;
				height: 100vh!important;
				overflow-y: scroll;
			}
			& > div {
				visibility: visible;
				height: auto;
				opacity: 1;
				-webkit-transition: opacity 0.3s 0.5s;
				transition: opacity 0.3s 0.5s;
				.projectContent .cycle-slideshow .cycle-slide{
					width: 100vw!important;
				}
			}
		}
		&::before {
			opacity: 1;
			pointer-events: auto;
		}
	}
	&.active {
		&::before { z-index: 1800; }
		.morph-content {
			z-index: 1900;
		}
	}
	&::before {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 800;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
		content: '';
		opacity: 0;
		-webkit-transition: opacity 0.5s;
		transition: opacity 0.5s;
		pointer-events: none;
	}
}
/* Let's add some nice easing for all cases */
.morph-button .morph-content,
.morph-button.open .morph-content {
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

/* Helper classes */
.noscroll { overflow: hidden; }
.no-js .morph-button {
	margin: 10px 0;
	float: none;
	& > button { display: none; }
	&,
	& .morph-content,
	& .morph-content > div {
		position: relative;
		width: auto;
		height: auto;
		opacity: 1;
		visibility: visible;
		top: auto;
		left: auto;
		-webkit-transform: none;
		transform: none;
		pointer-events: auto;
		.icon-close {
			display: none;
		}
	}	
}

.no-transition {
	-webkit-transition: none !important;
	transition: none !important;
}

/* Button project large */
#section-trabajos .grid-images { overflow: hidden; }
.change-width{
    z-index: 1000;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 20px;
    right: 12px;
    left: 12px;
    & > div {
    	width: 100%;
    }
    &:hover > div { opacity: 1; }
    &.hide + .morph-button > button {
    	z-index: 1000;
    }
    @media #{$sm-and-down} { display: none; }
}

/* Hover */
.morph-button > button div:not(.parallax),
.change-width > div:not(.parallax) {
	height: 100%;
	text-align: center;
	color: #fff;
	font-size: 50px;
	background-color: rgba(255, 255, 255, 0.1);
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.morph-button > button:hover div:not(.parallax),
.change-width:hover > div:not(.parallax){
	opacity: 1;
}