@media print {
	@page{ margin: 0; }

	//Clientes / Proveedores
	.archive-header { display: none; }
	.table-clients, .table-proveedores {
		#head-table-clients, #head-table-proveedores { display: none; }
		.col {
			&:nth-child(odd) { clear: both; }
		}
		.col-number           { width: 10px; }    
		.col-title            { width: calc(100% - 25px);; }    
		.col-razon_social, 
		.col-rfc, 
		.col-direction, 
		.col-proyectos, 
		.col-actividad,
		.col-contactComercial, 
		.col-telefono,
		.col-email,
		.col-cumpleanos { 
			width: 50%;
			padding-top: 2px!important;
			padding-bottom: 2px!important;
		}		
	}
	#head-table-proveedores {
		.col-razon_social		{ width: calc(100% - 25px);; } 
	}

	//Cotización
	.content-cotizacion {
		width: 100vw;
		height: 100vh;
		margin: 0px auto;
		overflow: hidden;
		box-shadow: none;
		.opt-cotizacion {
			height: 120px;
			&.description {
				height: 350px;
			}
		}

		//Horizontal
		.content-img-muestra { 
			min-height: 260px; 
			position: relative;
			img { 
				display: block;
				position:absolute;
				top:50%;
				left:50%;
				-webkit-transform:translate(-50%, -50%);
				-ms-transform:translate(-50%, -50%);
				-o-transform:translate(-50%, -50%);
				transform:translate(-50%, -50%);
			}
		}
	}
}