@media print {
	@page{ margin: 0; }

	//Clientes / Proveedores
	.archive-header { display: none; }
	.table-clients, .table-proveedores {
		#head-table-clients, #head-table-proveedores { display: none; }
		.col:nth-child(odd) 	{ clear: both; }
		.col-number           	{ width: 10px; }    
		.col-title            	{ width: calc(100% - 25px);; }    
		.col-razon_social, 
		.col-rfc, 
		.col-ruc, 
		.col-direction, 
		.col-proyectos, 
		.col-actividad,
		.col-contactComercial, 
		.col-telefono,
		.col-email,
		.col-cumpleanos,
		.col-prod_serv,
		.col-fecha_ingreso { 
			width: 50%;
			padding-top: 2px!important;
			padding-bottom: 2px!important;
		}		
	}
	#head-table-proveedores {
		.col-razon_social		{ width: calc(100% - 25px);; } 
	}

	//Cotización
	.content-cotizacion {
		width: 100vw;
		height: 100vh;
		margin: 0px auto;
		overflow: hidden;
		box-shadow: none;
		.status { display: none; }
		.opt-cotizacion {
			height: 120px;
			div {
				font-size: 20px!important;
				line-height: 22px!important;
				&.modelo,
				&.nota {
					font-size: 16px!important;
					line-height: 20px!important;
				}				
			}
			&.description { height: 350px; }
		}

		.content-img-muestra {
			position: relative;
			min-height: 260px;			
		}
		.content-muestra{ height: 540px!important; }
		/* Horizontal */	
		.content-img-Horizontal {
			height: 250px!important;
			img { max-height: 250px!important;}			
		}
		.content-img-Vertical {
			height: 500px!important;
			img { padding: 5px; }
			img:first-child:nth-last-child(2),
			img:first-child:nth-last-child(2) ~ img,
			img:nth-last-child(3),
			img:nth-last-child(3) ~ img,
			img:first-child:nth-last-child(4),
			img:first-child:nth-last-child(4) ~ img {
				max-height: 250px;
			}
		}
	}
	.content-fixed-buttons { display: none; }
}