// ==========================================================================
// Utilities
// ==========================================================================

.table-clients,
.table-proveedores {
	font-size: 12px;
	@media #{$medium-and-up} { 
		width: 100%;
		max-height: calc(100vh - 170px); // header + space bottom 50		
		overflow-x: scroll; 
	}
	.content-clients,
	.content-proveedores {
		@media #{$medium-and-up} { min-width: 1500px; }
		@media #{$sm-and-down} { max-width: 100%; }
		.row {
			padding: 10px 0;
			&:nth-child(odd) {
				background-color: #eee;
			}
		}
	}
	.content-proveedores {
		@media #{$medium-and-up} { min-width: 1300px; }
	}
}

.info-general {
	position: absolute;
	top: 40px;
	right: 0px;
	.num-tiket {
		padding: 2px;
		display: inline-block;
		border-radius: 15px;
		margin-bottom: 5px;
		.bg-light {
			padding: 0 30px;
			border-radius: 15px;
			p {
				line-height: 32px;
				font-size: 18px;
			}
		}
	}
	.title-tiket {
		padding: 8px 30px;
		color: $light-color;
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
		font-weight: 500;
	}
}
.content-cotizacion {
	.date { font-size: 14px; }

	.row {
		.col {
			padding: 0 2px;
			.item-cotizacion,
			.opt-cotizacion {
				margin-bottom: 3px;
				border: 1px solid gray;
				border-radius: 5px;
				text-align: center;
				position: relative;	
			}
			.item-cotizacion {
				p {
					font-size: 16px;
					line-height: 26px;
				}
			}
			.opt-cotizacion {
				min-height: 85px; //70px;
				padding: 5px;
				div {
					@extend %center-full;
					width: calc(100% - 10px);
					&.modelo, &.nota {
						font-size: 12px;
						line-height: 14px;
					}
					
				}
				&.description {
					min-height: 270px;
					div { text-align: center; }
				}					
			}
		}
	}

	.footer-cotizacion {
		position: absolute;
		width: calc(90%);
		bottom: 35px;
		text-align: center;
		p {
			font-size: 11px;
			&.inline-block { 
				font-size: 14px; 
				margin: 0 3px;
			}
		}
	}

	.content-muestra {
		height: 420px;
		text-align: center;
		img { max-height: 420px;}
	}	
	&.contentHorizontal {		
		.content-img-Horizontal {
			position: relative;
			height: 210px;
			img { max-height: 210px;}			
		}
	}
	&.contentVertical {
		.opt-cotizacion { min-height: 100px!important; }
		.content-img-Vertical {
			position: relative;
			height: 395px;
			img { 
				max-height: 395px;
				padding: 5px; 
			}
		}
	}
}	

.card-cotizacion {
	padding: 10px;
	margin-bottom: 20px;
	min-height: 245px;
	.info-general {
		position: relative;
		width: calc(100% + 10px);
		top: 0px;
		margin-bottom: 10px;
	}
	img {
		max-width: 100px;
		max-height: 100px;
	}
}


/* Sistema */
#container-brief {
	.col {
		border: 1px solid #eee;
		min-height: 28px;
		line-height: 26px;
		font-size: 14px;
		p:not(.not-style) {
			font-weight: bold;
			color: $purple-color;
			font-size: 14px;
			line-height: 26px;
			&.color-light { color: $light-color;}
		}
		&.header-area-brief {
			background-color: $purple-color;
			color: $light-color;
			font-size: 22px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
	.brief-general-info {
	    @media #{$large-and-up} { 
			width: 40%;
		    position: absolute;
		    top: 0px;right: 0px;
		}
		@media #{$medium-and-down} {
			margin-top: 20px;
		}
	}
	.body-brief {
		margin-bottom: 30px;
	}
}

.etiqueta-requerimiento,
.etiqueta-prioridad {
	display: inline-block;	
	float: right;
}
.etiqueta-requerimiento {
	width: 15px;
	height: 15px;
	margin-top: 6px;	
	border-radius: 50%;
}
.etiqueta-prioridad {
	width: 30px;
	height: 10px;
	margin-top: 8px;
	border-radius: 3px;
}

.card-sistema {
	border-radius: 5px 10px 10px 5px;
	.card-head {
		padding: 10px 20px;
		.status { 
			width: 30px;
			height: 30px;
			position: absolute;
			top: 4px; right: 20px;
			border-radius: 50%;
			text-align: center;
			background-color: $purple-color;
			color: $light-color;
			cursor: pointer;
			&.bg-Reabierto {
				span:not(.etiqueta-text):before { content:'\f513'; }				
			}
			&.bg-Enterado {
				span:not(.etiqueta-text):before { content:'\f164'; }				
			}
			&.bg-Trabajando {				
				span:not(.etiqueta-text):before { content:'\e800'; }
			}
			&.bg-Hecho {				
				span:not(.etiqueta-text):before { content:''; }
			}
			&.bg-Cerrado {
				span:not(.etiqueta-text):before { content:''; }				
			}
			span:not(.etiqueta-text) {
				line-height: 30px;
				font-size: 14px;
			}
			.etiqueta-text { 
				color: $dark-color; 
				top: -28px;
    			right: -30px;
			}
			&:hover .etiqueta-text {
				display: inline-block;
			}
		}
		h2 { 
			text-transform: uppercase;
			max-width: calc(100% - 30px); 
			font-size: 14px;
			font-weight: bold;
			color: $purple-color;
		}
	}
	.card-body {
		padding: 10px 20px;
		font-size: 14px;
		.etiqueta-prioridad {
			display: block;
			cursor: pointer;
			margin-top: 0px;
			.etiqueta-text {

			    right: -35px;
			    top: -6px;
			}
			&:hover .etiqueta-text { display: inline-block; }
		}
		span.font-strong { font-weight: bold; }
		.btn-primary-rounded {
			position: absolute;
		    right: 20px;
		    bottom: 10px;
		}
	}
}

.etiqueta-text {
	display: none;
    background-color: #fff;
    position: relative;			
    padding: 3px 10px;
	font-size: 12px;
    transition: .5s ease-out;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
}