// ==========================================================================
// Utilities
// ==========================================================================

.table-clients,
.table-proveedores {
	font-size: 12px;
	@media #{$medium-and-up} { 
		width: 100%;
		max-height: calc(100vh - 170px); // header + space bottom 50		
		overflow-x: scroll; 
	}
	.content-clients,
	.content-proveedores {
		@media #{$medium-and-up} { min-width: 1500px; }
		@media #{$sm-and-down} { max-width: 100%; }
		.row {
			padding: 10px 0;
			&:nth-child(odd) {
				background-color: #eee;
			}
		}
	}
	.content-proveedores {
		@media #{$medium-and-up} { min-width: 1300px; }
	}
}