label {
	display: block;
	font-size: 14px;
}

input[type="text"],
input[type="date"],
select,
textarea {
	width: 100%;
	margin-bottom: 10px;
	line-height: 24px;
}

.row {
	display: table;
	width: 100%;
}
.row .col {
	float: left;
    box-sizing: border-box;
    padding: 0 2px;
    min-height: 1px;
}
.row .col-1_5 {
	width: 20%;
}
.row .col-1_4 {
	width: 25%;
}

.text-center 			{ text-align: center; }

.margin-bottom 			{ margin-bottom: 10px; }
.margin-bottom-large 	{ margin-bottom: 20px; }


.bg-gray { background-color: #eee!important; }


#qo_cotizaciones p { margin: 0px; }


.input-image,
.image-preview {
	display: inline-block;
}
.input-image {
	width: 65%;
}
.image-upload {
	display: block;
	float: right;
}
.image-preview {
	width: 30%;
	float: right;
}

.text-center { text-align: center; }
.color-light { color: #fff; }
.bg-destacade { background-color: #8c45c1!important; }
.bg-destacade label { 
	color: #fff!important; 
	padding-left: 10px;
}

/*SISTEMA*/
.table-sistema { width: 100%; }
.table-sistema th { text-align: left; }
.table-sistema label { color: purple; }
.table-sistema h2 {
	background-color: purple;
    color: #fff;
    font-weight: bold!important;
    margin-top: 20px!important;
}
p.disabled {
	font-size: 10px;
	color: #b7b2b2;
	text-align: center;
	border: 1px solid #dddddd;
	line-height: 30px;
	margin: 0px;
}
.table-sistema label{
	font-size: 12px;
}
.table-sistema input[type="text"],
.table-sistema input[type="date"] {
	margin-bottom: 0px;
}
.note { font-size: 10px; }

textarea.textarea_row3 {
	min-height: 120px;
}