.hide { display: none!important; }
.opacity-0 { opacity: 0; }
.text-left { text-align: left; }
.uppercase { text-transform: uppercase; }
.width-50p { width: 50% }

table.qo-custom-fields { width: 100%; }
.qo-custom-fields label {
	text-align: left;
	display: block;
	font-size: 14px;
}

.qo-custom-fields input[type="text"],
.qo-custom-fields input[type="number"],
.qo-custom-fields input[type="date"],
.qo-custom-fields select,
.qo-custom-fields textarea {
	margin-bottom: 10px;	
	width: 100%;
	min-height: 32px;
	line-height: 24px;
}

.table-sistema textarea { resize: none; }

.qo-custom-fields .row {
	display: table;
	width: 100%;
}
.qo-custom-fields .row .col {
	float: left;    
    padding: 0 2px;
    min-height: 1px;
    box-sizing: border-box;
}
.qo-custom-fields .row .col-1_5 			{ width: 20%; }
.qo-custom-fields .row .col-1_4 			{ width: 25%; }
.qo-custom-fields .row .col-1-2_4 		{ width: 12.5%; }
.clear 					{ clear: both; }

.qo-custom-fields .text-center 			{ text-align: center; }
.qo-custom-fields .color-light 			{ color: #fff; }

.qo-custom-fields .margin-bottom 			{ margin-bottom: 10px; }
.qo-custom-fields .margin-bottom-large 	{ margin-bottom: 20px; }


.qo-custom-fields .bg-gray 				{ background-color: #eee!important; }

/* Cotizaciones */
.qo-custom-fields .row.bg-gray 			{ padding: 10px; }
.qo-custom-fields .row.bg-gray select 	{ width: calc(100% - 20px)!important; }

#qo_cotizaciones p 		{ margin: 0px; }

#qo_cotizaciones input[type="text"],
#qo_cotizaciones input[type="number"],
#qo_cotizaciones textarea { min-height: 60px; }
#qo_cotizaciones input[type="text"].meta-image { min-height: 30px; }
#qo_cotizaciones input[type="button"].image-upload { width: 100%; }
#qo_cotizaciones textarea {
	margin-bottom: 7px;
	resize: none;
}

.qo-custom-fields .input-image,
.qo-custom-fields .image-preview { display: inline-block; }
.qo-custom-fields .input-image { width: 65%; }
.qo-custom-fields .image-upload {
	display: block;
	float: right;
}
.qo-custom-fields .image-preview {
	width: 30%;
	min-height: 75px;
    background-color: #eee;
	float: right;
}
.qo-custom-fields .image-preview img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100px;
}

/*Ocultar muestras y detalle segun template*/
/* .post-new-php => primera vez que se abre el post ==> .templateDefault */
.templateHorizontal .qo-custom-fields .hide-on-templateHorizontal,
.templateVertical .qo-custom-fields .hide-on-templateVertical,
.templateDefault .qo-custom-fields .hide-on-templateDefault,
.templateDefault .qo-custom-fields .col-detalle,
.post-new-php .qo-custom-fields .hide-on-templateDefault,
.post-new-php .qo-custom-fields .col-detalle,
.templateVertical .qo-custom-fields .col-detalle,
.templateHorizontal .qo-custom-fields .col-detalle { display: none; }

.templateDefault .qo-custom-fields .row .col-1-2_4,
.post-new-php .qo-custom-fields .row .col-1-2_4,
.templateVertical .qo-custom-fields .row .col-1-2_4,
.templateHorizontal .qo-custom-fields .row .col-1-2_4 { width: 25%; }

/*Calendario*/
#new-calendar {
	display: block;
	margin-top: 10px;   
    text-align: center;
    color: #fff;
    text-decoration: none;
    line-height: 30px;
    background: #0073aa;
}
#new-calendar:hover { background: #036492; }

label[for='mc_event_time'], #mc_event_time,
label[for='mc_event_endtime'], #mc_event_endtime,
label[for='e_hide_end'], #e_hide_end,
#my-calendar .note,
#my-calendar #add_field,
#my-calendar #del_field,
#my-calendar .postbox h2 { display: none!important; }

/*SISTEMA*/
.bg-destacade { background-color: #8c45c1!important; }
.bg-destacade label {
	padding-left: 10px;
	color: #fff!important;	
}

.table-sistema 			{ width: 100%; }
.table-sistema th 		{ text-align: left; }
.table-sistema label 	{ color: purple; }
.table-sistema h2 {
	margin-top: 20px!important;
	font-weight: bold!important;	
    color: #fff;
    background-color: purple;    
}
.qo-custom-fields p.disabled {
	margin: 0px;
	font-size: 10px;
	color: #b7b2b2;
	text-align: center;
	line-height: 30px;
	border: 1px solid #dddddd;	
	
}
.table-sistema label{ font-size: 12px; }
.table-sistema input[type="text"],
.table-sistema input[type="date"] { margin-bottom: 0px; }
.note { font-size: 10px; }

textarea.textarea_row3 { min-height: 120px; }

/* Estilos login */
body { background-color: #dcdcdc!important; }
#login h1 a, .login h1 a {
    width: 150px;
    height: 90px;
    background-image: url(../images/identidad/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}
form#loginform {
	border-radius: 10px;
	box-shadow: 2px 3px 15px 0 rgba(0,0,0,0.25);
}
.login label, .login #backtoblog a, .login #nav a { color: #23282d!important; }
.login #nav a:hover, .login #backtoblog a:hover { color: #652b85!important; }
.login #login_error, .login .message, .login .success { border-left-color: #652b85; }
.login form .input, .login input[type=text] {
	background: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid #652b85;
}
.login form input[type=checkbox]{
	border: 2px solid #652b85;
}
input[type=checkbox]:checked:before{
	margin: -4px 0 0 -5px;
	color: #652b85;
}
.login input:focus {
	outline: none!important;
}
.login .button {
    color: #652b85;
    text-shadow: none;
    font-weight: 700;	
	background: transparent;
    border: 2px solid #652b85!important;
    box-shadow: none;
}
.login .button:hover {
	background-color: #652b85;
	color: #fff;
}